#project-container {
    background-color: #2B2b2b;
}

.projects {
    padding-top: 66px;
    padding-bottom: 20px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.project-container {
    margin: auto;
}