.project-item {
    height: 240px;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .project-content {
    height: 90px;
    padding: 0 25px;
    display: flex;
    margin-bottom: 6px;
    font-size: 22px;
    color: #4a4a4a;
  }

